@model LibaryApp.Entity.Dtos.BorrowerBookDtos.AddBorrowerBooksDto
@{
    ViewBag.Title = "AddBorrowerBook";
}
<hr />
<div class="giris">
    <div class="form">
         <form class="giris-from" method="post" enctype="multipart/form-data">
               <b>Kitap Ödünç Verme Sayfası</b>
         
                <hr />
                <br />
        <div class="">
            <input type="text" placeholder="Ödünç Alan" name="BorrowersName"value="@Model.BorrowersName" />
             <label type="text" style="color:red">  @Html.ValidationMessageFor(x=>x.BorrowersName) </label>
             <br />
            <input type="text"  placeholder="Kitap Id" name="BookId"  value="@Model.BookId" readonly/>

            <input type="text" class="form-control-file" name="ReturnDate"  placeholder="Geri Getirme Tarihi" />
                @Html.ValidationMessageFor(model => model.ReturnDate)

            <label type="text" style="color:red">  @Html.ValidationMessageFor(x=>x.ReturnDate) </label>

        </div>
        <div style="margin-top:15px">
            <button type="submit" class="btn btn-info">Ödünç Ver</button>
        </div>
    </form>
    </div>

</div>
<style>

.giris {
    width: 360px;
    padding: 1% 0 0;
    margin-left: 330px;
    margin-top: -26px;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: royalblue;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

        .form button:hover, .form button:active, .form button:focus {
            background: slateblue
        }

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}