@using LibaryApp.Entity.Dtos.BookDtos
@model List<ListBookDto>
@{
    ViewData["Title"] = "GetAll";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<style>
    .disabled-button {
        pointer-events: none; /* Butona tıklama olaylarını devre dışı bırakır */
        opacity: 0.6; /* Butonun opaklığını azaltır, tıklanamaz gibi görünmesini sağlar */
    }

    .book-info {
        vertical-align: middle;
        text-align:center;}
    .borrow-btn{
        margin-top: 30px;
    }
</style>
<table id="bookTable" class="table">
    <thead class="thead-dark">
        <tr>
            <th class="book-info"></th>
            <th class="book-info">Resim</th>
            <th class="book-info">Kitap</th>
            <th class="book-info">Yazar</th>
            <th class="book-info">Durum</th>
            <th class="book-info"></th>
            <th class="book-info">Alanın İsmi</th>
            <th class="book-info">Getireceği Tarih</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var books in Model)
        {
            <tr>
                <td class="book-info">@books.Number</td>
                <td class="book-info">
                    <img src="~/images/@books.Image" alt="Kitap Resmi" style="width: 100px; height: 100px; class="img-thumbnail" />
                </td>

                <td class="book-info">@books.BookName</td>
                <td class="book-info">@books.Author</td>

                <td class="book-info">@books.InLibary</td>
                <td>
                    @if (books.InLibary == "Dışarıda")
                    {
                        <div class="book-info">
                            @using (Html.BeginForm("AddBorrowerBook", "BorrowerBooks", FormMethod.Get))
                            {
                                @Html.Hidden("bookId", books.Id)
                                <button class="btn btn-success disabled-button borrow-btn" type="button">Ödünç Ver</button>
                            }
                        </div>
                    <td class="book-info">Ezgi Elen Koçak</td>
                    <td class="book-info">09.09.2023</td>
                    }
                    else
                    {
                    <div class="book-info">
                            @using (Html.BeginForm("AddBorrowerBook", "BorrowerBooks", FormMethod.Get))
                            {
                                @Html.Hidden("bookId", books.Id)
                            <button class="btn btn-success borrow-btn">Ödünç Ver</button>
                            }
                    </div>

                    <td class="book-info">#</td>
                    <td class="book-info">#</td>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Book/Add/" class="btn btn-primary" style="margin-top: 30px"> Kitap Ekle</a>

<script>
    $(document).ready(function () {
        $('#bookTable').DataTable({
            paging: true, // Sayfalama etkin
            searching: true // Arama özelliği etkin
        });
    });
</script>





